<div class="login-container">
  <div class="login-box">
    <!-- Logo -->
    <div class="logo">
      <img src="https://tse4.mm.bing.net/th/id/OIP.F2oEM9PlLc-gcsBO-4aTBwHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="PollMaster Logo" />
      <h1>Thinko</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>


      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          name="username"
          autocomplete="username"
          placeholder="Email" />
        <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Valid email is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          name="password"
          autocomplete="current-password"
          placeholder="Password" />
        <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required
        </div>
      </div>

      <button type="submit" class="btn primary-btn" [disabled]="loginForm.invalid || loading">
        <span *ngIf="loading">Logging in...</span>
        <span *ngIf="!loading">Login</span>
      </button>


      <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>
    <p class="register-text">
      Not registered yet?
      <a routerLink="/register">Create an account</a>
    </p>
  </div>
</div>
